<html>
  <head>
    <title>Secure My Splat</title>
    <!-- <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/scripts/app.js"></script> -->
  </head>

  <body>
    <h1>Secure My Splat</h1>
    <hr>

    <%= yield %>

    <hr>

  </body>

</html>
